CalculatriceService/wsdl/CalculatriceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://soap.service.carsat.fr/" name="CalculatriceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://soap.service.carsat.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://soap.service.carsat.fr/" schemaLocation="CalculatriceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="Multiplication">
    <part name="parameters" element="tns:RequeteMultiplication"/>
  </message>
  <message name="MultiplicationResponse">
    <part name="parameters" element="tns:ReponseMultiplication"/>
  </message>
  <message name="Addition">
    <part name="parameters" element="tns:RequeteAddition"/>
  </message>
  <message name="AdditionResponse">
    <part name="parameters" element="tns:ReponseAddition"/>
  </message>
  <message name="Division">
    <part name="parameters" element="tns:RequeteDivision"/>
  </message>
  <message name="DivisionResponse">
    <part name="parameters" element="tns:ReponseDivision"/>
  </message>
  <message name="Soustraction">
    <part name="parameters" element="tns:RequeteSoustraction"/>
  </message>
  <message name="SoustractionResponse">
    <part name="parameters" element="tns:ReponseSoustraction"/>
  </message>
  <message name="Notification">
    <part name="parameters" element="tns:RequeteNotification"/>
  </message>
  <portType name="CalculatriceContrat">
    <operation name="Multiplication">
      <input wsam:Action="urn:mul" message="tns:Multiplication"/>
      <output wsam:Action="http://soap.service.carsat.fr/CalculatriceContrat/MultiplicationResponse" message="tns:MultiplicationResponse"/>
    </operation>
    <operation name="Addition">
      <input wsam:Action="urn:add" message="tns:Addition"/>
      <output wsam:Action="http://soap.service.carsat.fr/CalculatriceContrat/AdditionResponse" message="tns:AdditionResponse"/>
    </operation>
    <operation name="Division">
      <input wsam:Action="urn:div" message="tns:Division"/>
      <output wsam:Action="http://soap.service.carsat.fr/CalculatriceContrat/DivisionResponse" message="tns:DivisionResponse"/>
    </operation>
    <operation name="Soustraction">
      <input wsam:Action="urn:min" message="tns:Soustraction"/>
      <output wsam:Action="http://soap.service.carsat.fr/CalculatriceContrat/SoustractionResponse" message="tns:SoustractionResponse"/>
    </operation>
    <operation name="Notification">
      <input wsam:Action="urn:notify" message="tns:Notification"/>
    </operation>
  </portType>
  <binding name="CalculatriceServicePortBinding" type="tns:CalculatriceContrat">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="Multiplication">
      <soap:operation soapAction="urn:mul"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Addition">
      <soap:operation soapAction="urn:add"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Division">
      <soap:operation soapAction="urn:div"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Soustraction">
      <soap:operation soapAction="urn:min"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Notification">
      <soap:operation soapAction="urn:notify"/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
  </binding>
  <service name="CalculatriceService">
    <port name="CalculatriceServicePort" binding="tns:CalculatriceServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

